*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

h2{
    font-size: 3rem;
    line-height: 4rem;
}

h3{
    font-size: 1.5rem;
    line-height: 3rem;
}

.wrapper-primary{
    max-width: 90%;
    margin: 0 auto;
}

.btn{
    padding: .7rem 1.5rem;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

/********************* navigation begins *************/

.navigation{
    background-color: #1a1a1a;
    padding: 2rem 0;
}

.navbar{
 display: grid;
 grid-template-columns: repeat(12, 1fr);   
}

.navbar a{
    color: #ffffff;
}

.navbar a:hover{
    color: #fcdc55;
    font-weight: bold;
}

.nav-items-1{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.nav-items-2{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.logo{
    grid-column: span 6;
    text-align: center;
}


/********************** navigation ends *********************/

/********************** hero starts *********************/

.hero{
    background-image: url(assets/Hero\ Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 120vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 3rem;
}

.btn-hero-cta{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.btn-hero-cta:hover{
    border: 2px solid #fcdc55;
    color: #fcdc55;
}
/********************** hero ends *********************/

/********************** air-x starts *********************/

.air-x{
    background-color: #1a1a1a;
    padding: 4rem 0;
}

.air-x h2, .air-x h3{
    padding: 1rem 0;
}

.air-x-image-container{
    background-image: url(assets/Features\ 2.1\ video.jpg);
    width: 60%;
    height: 70vh;
}


/********************** air-x ends *********************/


/********************** lexo-z starts *********************/

.lexo-z{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 110vh;
}

.lexo-z-info{
    grid-column: span 6;
    background-color: #1a1a1a;
    padding: 10rem;
}

.lexo-z-info ul{
    padding: 2rem 0;
}

.lexo-z-info li{
    font-size: .8rem;
    line-height: 1.5rem;
}

.lexo-z-image{
    grid-column: span 6;
    background-image: url(assets/Features\ 2.2\ Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lexo-z-info button:hover{
    border: 2px solid #fcdc55;
}

.lexo-z-cta-secondary{
    color: white;
    padding-left: 1rem;
}

.lexo-z-cta-secondary:hover{
    text-decoration: underline;
    color: #fcdc55;
}

/********************** lexo-z ends *********************/

/********************** air-x-feature-3 starts ***************/

.air-x-feature-3{
    background-image: url(assets/Features\ 2.3\ Img.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.air-x-feature-3-info{
    color: black;
    width: 40%;
    margin-top: 6rem;
    
}

.air-x-feature-3-info p{
    padding-bottom: 1rem;
    font-size: .9rem;
}

.air-x-feature-3-cta{
    padding: 2rem 0;
}

.air-x-feature-3-cta-primary{
    background-color: #1a1a1a;
    color: #ffffff;
}

.air-x-feature-3-cta-primary:hover{
    background-color: transparent;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}

.air-x-feature-3-cta-secondary{
    color: #1a1a1a;
    padding-left: 1rem;
}

.air-x-feature-3-cta-secondary:hover{
    text-decoration: underline;
}

/********************* air-x-feature-3 ends ********************/

/********************** air-x-specs starts ********************/

.air-x-specs{
    background-color: #000;
}

.air-x-specs-wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 110vh;
}

.air-x-specs-image{
    grid-column: span 6;
    background-image: url(assets/Model-X-Specs-Hero-Desktop-LHD\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.air-x-specs-info{
    grid-column: span 6;
    margin: auto;
}

.air-x-specs-info h3{
    padding-bottom: 1.5rem;
}

.air-x-specs-info-cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.air-x-specs-info-cards p{
    font-size: .9rem;
}

.air-x-specs-info-cards div{
    grid-column: span 6;
}
/*********************** air-x-specs ends ***********************/

/********************** gallary starts **************************/
.gallary{
    background-color: #1a1a1a;
    padding: 6rem 0;
}

.gallary-stats{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    text-align: center;
}

.gallary-stats div h5{
    font-size: .7rem;
    padding-bottom: 1.5rem;
}

.gallary-stats-first-para{
    font-size: 2rem;
    padding-bottom: .7rem;
}

.gallary-stats-second-para{
    font-size: 1rem;
}

.gallary-sec-1{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.gallary-sec-1 h4{
    padding: 1rem 0;
}

.gallary-sec-2{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    gap: 1rem;
}

.gallary-sec-2 h4{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.gallary-sec-2 p{
    font-size: .9rem;
    padding-bottom: 2rem;
    text-wrap: wrap;
}

.gallary-sec-3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 3rem 0;
}

.gallary-sec-3-first{
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.gallary-sec-3-first img{
    grid-column: span 6;
}

.gallary-sec-3-second{
    grid-column: span 6;
}
/********************** gallary ends ****************************/

/********************** air-x-accelerate starts ******************/

.air-x-accelerate{
    background-image: url(assets/Air\ X\ Img\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.air-x-accelerate > .wrapper-primary{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.air-x-accelerate .wrapper-primary > div{
    grid-column: span 6;
    padding-top: 20rem;
}

.air-x-accelerate-cta{
    padding: 1.5rem 0;
}

.air-x-accelerate-cta-primary{
    background-color: #ffffff;
    color: #1a1a1a;
}

.air-x-accelerate-cta-primary:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.air-x-accelerate-cta-secondary{
    color: #ffffff;
    padding-left: 1rem;
}

.air-x-accelerate-cta-secondary:hover{
    text-decoration: underline;
}

/********************* air-x-accelerate ends *******************/


/********************** stories starts ************************/

.stories{
    background-color: #1a1a1a;
    padding: 6rem 0;
}

.stories-items-wrapper{
    display: flex;
    justify-content: space-between;
}

.stories .wrapper-primary div{
    padding-right: 3rem;
}

.stories h4{
    padding: 1rem 0;
}

.stories h2{
    padding-bottom: 3rem;
}

.stories p{
    font-size: .9rem;
}

/********************** stories ends *************************/